* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#hire-drop,
#teach-drop,
#tuts-drop,
#community-drop {
  top: 55px;
  padding: 10px;
  width: 160px;
  height: 180px;
  background-color: white;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: #0085ff 2px solid;
}

#hire-drop,
#teach-drop {
  top: 50px;
}

#teach-drop {
  justify-content: flex-start;
  height: 80px;
}

#tuts-drop {
  height: 130px;
}

#community-drop {
  height: 120px;
}

#hire-drop li,
#teach-drop li,
#tuts-drop li,
#community-drop li {
  padding: 10px;
}

nav #logo,
#foot1 #ft-logo {
  color: #0085ff;
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
}

nav,
#btm-nav {
  width: 1400px;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}

#btm-nav {
  z-index: 9;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a,
#btm-nav-ul li a {
  text-decoration: none;
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 500;
}

nav ul li a:hover {
  color: #0085ff;
}

nav ul li button,
#subs-btn {
  width: 112px;
  height: 30px;
  background-color: #0085ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(74, 74, 74, 0.16);
  display: block;
}

nav ul li button:hover,
#subs-btn:hover {
  background-color: #50aaff;
  color: #fff;
}

#hire-drop li,
#teach-drop li a {
  text-decoration: underline;
}

#btm-nav {
  border: none;
  height: 55px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: flex-end;
}

#btm-nav-ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-right: 10px;
}

#btm-nav-ul li {
  list-style-type: none;
}

#btm-nav-ul li a {
  font-weight: 400;
  color: #949494;
  text-decoration: underline;
}

#btm-nav-ul li a:hover {
  color: #0085ff;
}

#btm-nav #btm-nav-ul #log #login {
  font-weight: 600;
  color: #7d7d7d;
}

#btm-nav #btm-nav-ul #log #login:hover {
  color: #0085ff;
}

#btm-nav form,
#artist-corner form {
  width: 600px;
  height: 40px;
  position: relative;
}

#btm-nav form input[type="text"] {
  width: 534px;
  height: 38px;
  border-radius: 50px;
  border: 1px solid #d2d2d2;
}

#btm-nav form input[type="text"]:hover {
  background-color: #f5f5f5;
}

#btm-nav form input[type="text"]::placeholder {
  color: #d2d2d2;
  font-weight: 600;
  font-size: 14px;
  padding-left: 40px;
}

#btm-nav form input[type="text"]:hover {
  color: #cecece;
}

#mg {
  position: absolute;
  left: 10px;
  top: 8px;
}
/* -------------- */

main {
  background-color: black;
}

#slider {
  width: 100vw;
  height: 433px;
  background-image: url("/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#arrows {
  position: absolute;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  top: 180px;
}

#dots {
  position: absolute;
  width: 180px;
  height: 20px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 600px;
  top: 400px;
}

#dots .dot {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

#arrows #left,
#arrows #right {
  cursor: pointer;
  font-size: 56px;
  padding: 0 12px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  mix-blend-mode: screen;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  margin: 0 10px;
}

.slide-img {
  width: 100vw;
  height: 433px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#fader {
  width: 100vw;
  height: 433px;
  background-color: black;
  background: linear-gradient(
    rgba(255, 255, 255, 0.01),
    rgba(0, 0, 0, 0.72),
    black
  );
  position: absolute;
}

#artist-corner {
  width: 1400px;
}

#artist-corner h1,
#community-art h1 {
  font-size: 44px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 100px;
}

#artist-corner form,
#community-art form {
  margin: 40px auto;
  position: relative;
}

#artist-corner form input[type="text"],
#community-art form input[type="text"] {
  width: 534px;
  height: 38px;
  border-radius: 50px;
  border: 1px solid #484848;
  background-color: #0f0f0f;
  margin-left: 38px;
}

#artist-corner form input[type="text"]:hover,
#community-art form input[type="text"]:hover {
  border: 1px solid #414141;
  background-color: #080808;
}

#artist-corner form input[type="text"]::placeholder,
#community-art form input[type="text"]::placeholder {
  color: #393939;
  padding-left: 40px;
}

#mg2 {
  position: absolute;
  left: 50px;
  top: 8px;
}

#artist-corner h2,
#trending-search h2 {
  color: white;
  text-align: center;
  font-size: 18px;
}

#artists-container {
  width: 1400px;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}

.artist {
  width: 288px;
  height: 444px;
  background-size: cover;
  background-position: center;
  position: relative;
  /* border: 1px solid #131313; */
  box-shadow: 0 0 20px rgba(0, 72, 255, 0.2);
  border-radius: 8px;
}

.artist:hover {
  box-shadow: 0 0 10px #003a71;
}

.artist-info {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 305px;
  line-height: 1.5;
  padding: 0 8px;
}

.artist-info .p2 {
  margin-top: 6px;
  font-weight: 300;
  opacity: 0.74;
}

.artist-info .arts-name {
  font-size: 14px;
  font-weight: 800;
}

.artist-info .location {
  font-weight: 500;
  opacity: 0.82;
}

.artist-info .career {
  background-color: rgba(173, 179, 255, 0.2);
  padding: 3px 5px;
  font-weight: 800;
  border-radius: 8px;
  float: right;
  margin-right: 5px;
  mix-blend-mode: screen;
}

#maya {
  background-image: url("/images/artists/maya.jpg");
}

#hector {
  background-image: url("/images/artists/hector.jpg");
}

#ian {
  background-image: url("/images/artists/ian.jpg");
}

#monika {
  background-image: url("/images/artists/monika.jpg");
}

.art-fader {
  width: inherit;
  height: inherit;
  background-color: black;
  background: linear-gradient(rgba(255, 255, 255, 0.01), black 85%, black);
  position: absolute;
}

#find-more {
  display: block;
  margin: 0 auto;
  background-color: #0085ff;
  color: white;
  border: none;
  width: 221px;
  height: 56px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 600;
}

#find-more:hover {
  background-color: #3ca1ff;
}

/* COMMUNIITY ART  */

#community-art {
  width: 1400px;
  margin-left: 20px;
}

#community-art h1 {
  color: white;
}

#community-art form {
  margin-left: 400px;
}

#comm-img-container {
  width: 1400px;
  height: 1400px;
  display: grid;
  grid-template-areas:
    "img01 img02 img02 img03 img04"
    "img05 img06 img07 img03 img08"
    "img05 img09 img10 img10 img08"
    "img11 img11 img12 img13 img14";
  grid-gap: 12px;
}

#img01 {
  grid-area: img01;
  background-image: url("/images/com-art/01.jpg");
}

#img02 {
  grid-area: img02;
  background-image: url("/images/com-art/02.jpg");
}

#img03 {
  grid-area: img03;
  background-image: url("/images/com-art/03.jpg");
}

#img04 {
  grid-area: img04;
  background-image: url("/images/com-art/04.jpg");
}

#img05 {
  grid-area: img05;
  background-image: url("/images/com-art/05.jpg");
  background-position: center bottom;
}

#img06 {
  grid-area: img06;
  background-image: url("/images/com-art/06.jpg");
}

#img07 {
  grid-area: img07;
  background-image: url("/images/com-art/07.jpg");
  background-position: center;
}

#img08 {
  grid-area: img08;
  background-image: url("/images/com-art/08.jpg");
  background-position: center;
}

#img09 {
  grid-area: img09;
  background-image: url("/images/com-art/09.jpg");
}

#img10 {
  grid-area: img10;
  background-image: url("/images/com-art/010.jpg");
  background-position: center;
}

#img11 {
  grid-area: img11;
  background-image: url("/images/com-art/011.jpg");
  background-position: center;
}

#img12 {
  grid-area: img12;
  background-image: url("/images/com-art/012.jpg");
}

#img13 {
  grid-area: img13;
  background-image: url("/images/com-art/013.jpg");
}

#img14 {
  grid-area: img14;
  background-image: url("/images/com-art/014.jpg");
}

.iim {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.iim:hover {
  box-shadow: 0 0 10px #003a71;
}

#trending-search {
  width: 1400px;
  margin-left: 20px;
  margin-top: 50px;
  padding-bottom: 50px;
}

#trending-search h2 {
  padding: 20px 0 40px;
}

#trending-search #search-cont {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trend-img {
  width: 174px;
  height: 130px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.photo {
  background-image: url("/images/com-art/010.jpg");
}

.anim {
  background-image: url("/images/com-art/05.jpg");
  background-position: center bottom;
}

.m3d {
  background-image: url("/images/hero-img.jpg");
  background-position: center;
}

.moti {
  background-image: url("/images/com-art/08.jpg");
  background-position: center 28%;
}

.illu {
  background-image: url("/images/com-art/03.jpg");
  background-position: center 22%;
}

.graph {
  background-image: url("/images/com-art/06.jpg");
  background-position: center 50%;
}

.pott {
  background-image: url("/images/com-art/pott.jpg");
  background-position: center;
}

.trend-fade {
  width: inherit;
  height: inherit;
  background: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13), black);
}

.trend-img p {
  background-color: rgba(173, 179, 255, 0.17);
  font-size: 12px;
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 20%;
  right: 20%;
  text-align: center;
  mix-blend-mode: screen;
  color: white;
  padding: 2px 4px;
  border-radius: 8px;
}

/* ---------------------------------------------- */

#brands {
  width: 1400px;
  margin-left: 20px;
}

#brands h1 {
  color: #0085ff;
  text-align: center;
  padding: 30px 0 40px;
}

#brands #brand-container {
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 100px;
}

#brands .brand {
  width: 80px;
  border-radius: 8px;
  height: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  background-size: 60%;
  background-repeat: no-repeat;
  padding: 2px;
  background-position: center;
}

#brand-container .brand:nth-child(1) {
  background-image: url("/images/brands/adobe50.svg");
}

#brand-container .brand:nth-child(2) {
  background-image: url("/images/brands/andst100.svg");
}

#brand-container .brand:nth-child(3) {
  background-image: url("/images/brands/apple100.png");
}

#brand-container .brand:nth-child(4) {
  background-image: url("/images/brands/behance96.png");
}

#brand-container .brand:nth-child(5) {
  background-image: url("/images/brands/boom100.png");
}

#brand-container .brand:nth-child(6) {
  background-image: url("/images/brands/cam100.png");
}

#brand-container .brand:nth-child(7) {
  background-image: url("/images/brands/vs96.svg");
}

/* ------------------------------------------------------- */

footer {
  width: 1400px;
  height: 270px;
  padding: 20px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#foot1 {
  color: #868686;
  font-size: 14px;
  padding-right: 40px;
}

#foot1 #ft-logo {
  color: #2f2f2f;
  padding: 0px 0 20px;
}

#foot1 #slogan {
  font-weight: 600;
  padding: 0px 0 20px;
  font-size: 14px;
}

#foot1 #ft-desc {
  width: 260px;
  font-size: 16px;
}

#foot1,
#foot2,
#foot3 {
  height: inherit;
}

#foot2 {
  display: flex;
  flex: 2;
  justify-content: space-around;
}

#ft1 ul li,
#ft2 ul li,
#ft3 ul li {
  padding: 46px 0 0;
  list-style-type: none;
  text-decoration: underline;
  color: #868686;
  font-size: 14px;
}

#ft1 ul li a:hover,
#ft2 ul li a:hover,
#ft3 ul li a:hover {
  color: #0085ff;
}

#socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  height: 40px;
  margin-top: 20px;
}

#socials div {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
}

#foot3 h3 {
  padding-top: 38px;
  padding-bottom: 10px;
  color: #757575;
}

#foot3 #subscribe {
  font-weight: 500;
  font-size: 16px;
  color: #494949;
  /* margin-top: 20px; */
}

#foot3 form {
  margin-top: 20px;
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#foot3 form input {
  width: 380px;
  height: 30px;
  border-radius: 50px;
  background-color: #efefef;
  border: none;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

#foot3 form input:hover {
  background-color: #f5f5f5;
}

#foot3 form input::placeholder {
  color: #bcbcbc;
  font-weight: 500;
  font-size: 14px;
  padding-left: 20px;
}

#foot1 #socials div {
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.ig {
  background-image: url("/images/icons8/ig.png");
}

.yt {
  background-image: url("/images/icons8/yt.png");
}

.dribb {
  background-image: url("/images/icons8/dribb.png");
}

.pint {
  background-image: url("/images/icons8/pint.png");
}

.twit {
  background-image: url("/images/icons8/twit.png");
}
